* {
    padding: 0;
    margin: 0 ;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    
}

@media all and (max-width: 1920px)
{
    #bvid {
        border: none;
        background-color: rgba(58, 34, 66, 0);
        cursor: pointer;
    }
    #p2 {
        display: none;
    }
    .about {
        display: flex;
        flex-direction: column;
    }
    .section_fill {
        display: flex;
        flex-direction: row;
    }
    .section_fill h3 {
        text-align: center;
        font-size: 15px;

    }

    .p_a {
        color: #6f6e91;
        text-decoration: none;
    }

    .p_a:hover {
        text-decoration: underline;
    }

    .section_p {
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding-right: 25px;
        gap: 20px;
    }
    img.background {
        min-height: 100%;
        min-width: 640px; 
        width: 100%; 
        height: auto; 
        position:fixed; 
        top: 0; 
        left: 0; 
        z-index: -100;
    }
    .icon {
        display: none;
    }
    .info {
        /* position: absolute; */
        color: white;
        /* left: 15%;
        right: 15%; */
        /* top: 10%; */
        height: auto;
        /*  width: 80%; */
        font-size: 25px;
    }

    .topnav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .topnav p {
        color: lavender;
        padding-top: 50px;
        padding-right:  30px;
        font-size: 300%;
        text-shadow:
        1px 1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        -1px -1px 0 black;

    }

    section {
        background: rgba(58, 34, 66, 0.5);
        margin-top:100px;
        padding: 30px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;

    }

    section h1 {
        text-align: center;
        margin-bottom: 25px;
        font-size: 50px;
    }

    .logo {
        width: 15%;
        padding-top: 1%;
        padding-right: 1%;
        padding-left: 10px;
    }
    nav {
        display: flex;
        flex-direction: row;
        z-index: 100;
        background-color: hsl(242, 34%, 17%);
        /* background-color: rgba(134, 37, 239, 0.9); */
        position: fixed;
        width: 80%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        top: -80px;
        transition: top 0.3s;
        justify-content: space-between;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
        
    }
    /* .img_uk {
        width: 50px;
        padding-left: 150px;
        padding-top: 15px;
    }

    .img_ua {
        width: 50px;
        padding-left: 20px;
        padding-top: 15px;
    } */
    .lang {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        padding-right: 15px;
    }
    .lang img {
        width: 50px;
        height: 30px;
    }
    .nav_a {
        text-decoration: none;
        font-family: sans-serif;
        color: #212042;
        display: inline-block;
        font-size: 110%;
        padding: 20px 45px;
        background-color:hsl(242, 34%, 17%);
        color: lavender;
        transition: all 0.3s;
    }

    .nav_a:hover {
        background-color: #c5afff;
    }
    .but_up {
        position: fixed;
        margin-top: 87vh;
        margin-left: 90vw;
        opacity: .0;
        transition: all 0.6s;
        background: rgba(0,0,0,0);
        border: none;
    }

    .up {
        width: 70px;
        height: 70px;
        background-color: hsl(241, 33%, 26%);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        transition: all 0.3s;
    }

    .up:hover {
        background-color: hsl(240, 28%, 12%);
    }


    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content li {
        float: none;
        color: black;
        padding: 24px 32px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown-content li:hover {
        background-color: #ddd;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        max-width:350px;
        max-height: 170px;
        width:100%;
        padding-top: 10px;
        padding-right: 10px;
    }
    
    #gallery {
        text-align: center;
    }
    
    
    
    .myImg:hover {opacity: 0.7;}
    
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 101; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    
    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 800%;
        max-width: 950px;
    }
    
    /* Caption of Modal Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }
    
    .modal-content, #caption {    
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)} 
        to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
    }
    
    /*Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 70px;
        font-weight: bold;
        transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
}




@media all and (max-width: 720px)
{
    img.background {
        min-height: 100%;
        min-width: 640px; 
        width: 100vh; 
        height: 100vw; 
        position:fixed; 
        top: 0; 
        left: 0; 
        z-index: -100;
    }
    .topnav {
        margin-top: 10px;
        margin-left: -30px;
    }
    .icon {
        display: flex;
        color: white;
        position: fixed;
        margin-left: 80vw;
        font-size: 50px;
    }
    nav {
        display: none;
    }
    .logo {
        /* width: 200px;
        height: 150px; */
        width: 40%;
        padding-top: 1%;
        padding-right: 1%;
        padding-left: 10px;
    }
    .info {
        display: none;
    }
    .topnav p {
        display: none;
    }
}




